
body {
    padding:20px;
}


/* play section */
.play-section {
    margin-bottom: 50px;
}
.play-section .board {
    margin-left: auto;
    margin-right: auto;
}
.play-section h2 {
    text-align: center;
    margin: 1em;
}


/* recents' section */
.recent-section .board {
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}
.recent-section h3 {
    text-align: center;
    margin: 1em;
}


/* general board settings */
table.board {
    /* grid color */
    background: rgba(0, 0, 0, .5);
    width: 100%;
}


/* make table cells square */
table.board td {
    width: 33.33%;
    position: relative;
}
table.board td:after {
    content: '';
    display: block;
    margin-top: 100%;
}
table.board td > div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* grid's thickness */
    margin: 3%;
    /* cell's normal background */
    background: white;
}


/* tic-tac-toe symbols take whole cells */
table.board td > div > img {
    width: 100%;
    height: 100%;
}


/* cover edges of board table */
table.board td.left-edge > div {
    margin-left: 0;
    padding-left: 3%;  /* must be same as grid's thickness */
}
table.board td.right-edge > div {
    margin-right: 0;
    padding-right: 3%;  /* must be same as grid's thickness */
}
table.board td.top-edge > div {
    margin-top: 0;
    padding-top: 3%;  /* must be same as grid's thickness */
}
table.board td.bottom-edge > div {
    margin-bottom: 0;
    padding-bottom: 3%;  /* must be same as "grid's thickness" */
}


/* highlight for winning cells */
table.board td.winning_cell > div {
    background-image: url("/assets/img/gradient.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    color: #77c791;
}


/* next player's symbol hint */
#next_player_symbol {
    width: 40px;
    height: 40px;
}


/* show either "next player" or "winner" */
#next_player_label {
    display: inline;
}
.text-right > span#next_player_label {
    display: none;
}
#winner_label {
    display: none;
}
.text-right > span#winner_label {
    display: inline;
}
