
body {
    padding:20px;
}


/* play section */
.play-section {
    margin-bottom: 50px;
}
.play-section .board {
    margin-left: auto;
    margin-right: auto;
}
.play-section h2 {
    text-align: center;
    margin: 1em;
}


/* recents' section */
.recent-section .board {
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}
.recent-section h3 {
    text-align: center;
    margin: 1em;
}


/* general board settings */
table.board {
    /* lines' color */
    background: rgba(0, 0, 0, .2);
    width: 100%;
}


/* make table cells square */
td {
    width: 33.33%;
    position: relative;
}
td:after {
    content: '';
    display: block;
    margin-top: 100%;
    background: #ccc;
}
td .content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 3%;
    background: white;
}


/* tic-tac-toe symbols take whole cells */
.board td .content img {
    width: 100%;
    height: 100%;
}


/* remove edges of board table */
.board td .left-edge {
    margin-left: 0;
    padding-left: 3%;
}
.board td .right-edge {
    margin-right: 0;
    padding-right: 3%;
}
.board td .top-edge {
    margin-top: 0;
    padding-top: 3%;
}
.board td .bottom-edge {
    margin-bottom: 0;
    padding-bottom: 3%;
}

/* next player's symbol */
#next_player_symbol {
    width: 40px;
    height: 40px;
    border: black solid 4px;
}
